@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
}

hr {border:1px dotted #E0E0E0;clear:both;}

body {
  margin:50px auto;
  width:70%;
  padding: 10px;
  font-family: 'Pontano Sans', sans-serif;
  background: #FEFEF2;
}

.content {
  margin:10px; padding:30px; overflow: auto;
  background: #FFC89D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width:830px;
  margin: 0 auto;
  overflow: auto;
  clear:both;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.cleft {
  width: 40%;
  float: left;
  text-align: center;
}

.cleft img { width:320px; }

.cright {
  width: 50%;
  float: right;
  border-left: 1px solid black;
  padding: 20px;
}

a {
  border: 1px solid rgba(0,0,0,0);
  color: purple;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  border: 1px solid rgba(0,0,0,1);
  opacity: 1;
}

li {list-style-type: upper-roman;}

.docs {
  margin:10px; padding:30px; overflow: auto; border: 1px #000 solid;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.docs p {
  text-align: justify;
  text-indent: 10px;
}

/* Inline Code (outside of large listings) */

p code, li code, td code {

  background: #E8E8E8;
  border: 1px solid #B0B0B0;
  border-radius: 3px;
  padding: 1px;
}

/* Pretty Tables */

table {
  border: 2px solid #CCCCCC;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #CCC;
  padding: 5px;
}

th { text-align: center; }

tr:nth-of-type(2n + 2) {
    background-color: #ECF7FF;
}

tr:nth-of-type(2n + 3) {
    background-color: #FBFDFF;
}