@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
  margin:50px auto;
  width:90%;
  padding: 10px;
  font-family: 'Pontano Sans', sans-serif;
}

.content { margin:10px; padding: 10px; overflow: auto; border: 1px #ccc dotted; }
.cleft { position:relative; width:50%; float:left; }
.cright { position:relative; width:50%; float:right; }

li {list-style-type: upper-roman;}